*,
<<<<<<< HEAD
*:before,
*:after {
=======
*::before,
*::after {
>>>>>>> af4e431 (follow along tutot website)
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
<<<<<<< HEAD
  --primary-color: #08c0dd;
  --secondary-color: #262431;
  --tertiary-color: #2f2c3d;
=======
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
>>>>>>> af4e431 (follow along tutot website)
}

html,
body {
  font-family: "Open Sans", sans-serif;
<<<<<<< HEAD
  background-color: var(--secondary-color);
  color: #fff;
=======
>>>>>>> af4e431 (follow along tutot website)
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
<<<<<<< HEAD
  color: #fff;
=======
>>>>>>> af4e431 (follow along tutot website)
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

<<<<<<< HEAD
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  border: 2px solid transparent;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--primary-color);
=======
/* Utility Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
  background: var(--secondary-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

/* Text Classes */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.section {
  margin: 4rem 0;
}

/* Section Header */
.section-header {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}

.section-header p {
  font-size: 1.3rem;
  color: var(--dark-color);
}

.heading-border {
  width: 64px;
  height: 4px;
  background: var(--primary-color);
  margin: 0 auto 2rem;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.75rem;
  background: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
>>>>>>> af4e431 (follow along tutot website)
}

/* Navbar */
.navbar {
<<<<<<< HEAD
=======
  background: transparent;
  color: white;
>>>>>>> af4e431 (follow along tutot website)
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
<<<<<<< HEAD
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.navbar.navbar--scroll {
  background-color: rgba(38, 36, 49, 0.8);
  backdrop-filter: blur(10px);
}

.navbar__container {
  max-width: 1100px;
  margin: 0 auto;
=======
  transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-flex {
>>>>>>> af4e431 (follow along tutot website)
  display: flex;
  justify-content: space-between;
  align-items: center;
}

<<<<<<< HEAD
.navbar__logo img {
  width: 112px;
  height: 36px;
}

/* Desktop Browser Menu */

.navbar__menu-list {
=======
.navbar img {
  width: 81px;
  height: 32px;
}

.navbar .main-menu-list {
>>>>>>> af4e431 (follow along tutot website)
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

<<<<<<< HEAD
.navbar__menu-link:hover,
.navbar__mobile-menu-link:hover {
  color: var(--primary-color);
}

.navbar__menu-link--primary,
.navbar__mobile-menu-link--primary {
  color: var(--primary-color);
}

.navbar__menu-link--primary:hover,
.navbar__mobile-menu-link--primary:hover {
  color: #fff;
}

/* Mobile Browser Menu */
.navbar__mobile-menu {
  display: none;
  cursor: pointer;
}

.navbar__mobile-menu-items {
=======
.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar i {
  font-size: 1.5rem;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
>>>>>>> af4e431 (follow along tutot website)
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
<<<<<<< HEAD
  background-color: var(--secondary-color);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out;
}

.navbar__mobile-menu-list {
=======
  background: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
>>>>>>> af4e431 (follow along tutot website)
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

<<<<<<< HEAD
.navbar__mobile-menu-items {
  transform: translateX(100%);
}

.navbar__mobile-menu-items.active {
  transform: translateX(0);
}

/* Hero Section */
=======
/* Hero */
>>>>>>> af4e431 (follow along tutot website)
.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 11.5rem 2rem 8rem;
<<<<<<< HEAD
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.hero__content {
  max-width: 500px;
}

.hero__title {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
}

.hero__title--primary {
  color: var(--primary-color);
}

.hero__description {
  margin: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

.hero__image img {
  max-width: 500px;
}

.hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.hero__button {
  padding: 1rem;
}

.hero__button i {
  margin-right: 0.5rem;
}

/* Testimonials */
.testimonials {
  padding: 4rem 2rem;
  text-align: center;
}

.testimonials__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.testimonials__card {
  padding: 0 3rem;
}

.testimonials__image img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5rem;
}

.testimonials__card-text {
  font-style: italic;
  margin-bottom: 1.5rem;
}

/* Features */
.features {
  background-color: var(--tertiary-color);
  padding: 6rem 2rem;
}

.features__container {
  text-align: center;
}

.features__title {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.features__description {
  max-width: 600px;
  margin: 1rem auto 4rem;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.features__grid-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}

.features__grid-item {
  display: flex;
  align-items: start;
  justify-content: start;
  text-align: right;
  gap: 1.5rem;
}

.features__grid-item-text-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.features__grid-item-icon {
  margin-top: 2rem;
}

.features__grid-item-icon i {
  color: var(--primary-color);
}

.features__grid-column-right .features__grid-item {
  flex-direction: row-reverse;
  text-align: left;
}

/* Preview */
.preview {
  background: url("../images/video-background.jpg") center center/cover
    no-repeat;
}

.preview__container {
  padding: 6rem 2rem;
  text-align: center;
}
.preview__title {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.preview__description {
  max-width: 600px;
  margin: 1rem auto 4rem;
}

.preview__video-wrapper {
  position: relative;
}

.preview__video-wrapper img {
  width: 100%;
  max-width: 900px;
  border-radius: 10px;
}

/* Play Button */
.preview__video-play-button {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10;
  display: block;
  box-sizing: content-box;
  width: 2rem;
  height: 2.75rem;
  border-radius: 50%;
  cursor: pointer;
  padding: 1.25rem 1.25rem 1.25rem 1.75rem;
}

/* Play Button Circle */
.preview__video-play-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  background-color: #00c9db;
  height: 4.75rem;
  width: 4.375rem;
  border-radius: 50%;
  display: block;
  transition: all 200ms;
}

/* Play Button Triangle */
.preview__video-play-button span {
  position: relative;
  display: block;
  z-index: 3;
  top: 0.375rem;
  left: 0.25rem;
  width: 0;
  height: 0;
  border-left: 1.625rem solid #fff;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}

/* Play Button Animation */
.preview__video-play-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  display: block;
  width: 4.75rem;
  height: 4.75rem;
  background-color: #00c9db;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
}

/* Pulse Animation */
@keyframes pulse-border {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(1.8);
    opacity: 0;
  }
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  max-width: 600px;
  position: relative;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
}

/* Details */
.details {
  padding: 9rem 2rem;
}

.details__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.details__grid-content {
  max-width: 500px;
  width: 100%;
}

.details__grid-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.details__grid-description {
  line-height: 1.6;
  margin-bottom: 2rem;
}

/* Details Icons */
.details__icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8rem;
  gap: 2rem;
  justify-content: space-around;
  text-align: center;
}

.details__icons i {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.details__icons-amount {
  font-size: 3.1rem;
  font-weight: 600;
}

.details__icons-title {
  font-size: 1.3rem;
  font-weight: 400;
}

/* Screenshots */
.screenshots {
  padding: 6rem 2rem;
  background-color: var(--tertiary-color);
  text-align: center;
}

.screenshots__container {
  max-width: 1200px;
}

.screenshots__title {
  font-size: 2.3rem;
  text-transform: uppercase;
  border-bottom: 2px solid var(--primary-color);
  width: 300px;
  margin: 0 auto 2.5rem;
}

.screenshots__images {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
}

.screenshots__images img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}

/* Download */
.download {
  background: #000 url("../images/download-background.jpg") center center/cover
    no-repeat;
  padding: 11.5rem 2rem 8rem;
}

.download__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.download__content {
  max-width: 500px;
}

.download__description {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  line-height: 1.6;
  text-align: center;
}

.download__image img {
=======
  color: #fff;
  overflow-x: hidden;
  position: relative;
}

.hero .hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom: 8rem;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.8;
  font-weight: 400;
}

.hero img {
  width: 100%;
  margin-right: -100px;
}

.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* Learn Topics */
.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.topic img {
  transition: transform 0.3s;
}

.topic img:hover {
  transform: scale(1.1);
}

.topic h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

/* Chapter Cards */
.chapter-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 0 4rem;
}

.chapter-cards img {
  width: 130px;
  margin-top: 1rem;
}

.chapter-cards h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

/* Summary */
.summary {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 4rem 2rem 5rem;
}

.summary .section-lists {
  background: #fff;
  padding: 2rem;
}

.summary .list-header {
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.summary .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid #f1f4f6;
}

.summary .list-item:last-child {
  border-bottom: none;
}

/* Info Section */
.info-container {
  background: url("../images/audience.jpg") top center/cover no-repeat;
  display: flex;
}

.info-content {
  background-color: var(--primary-color);
  color: #fff;
  flex: 1;
  padding: 4rem;
}

.info-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}

.info-content i {
  margin-right: 0.5rem;
  color: var(--secondary-color);
}

.info-left {
  width: 50%;
}

/* Takeaways */
.takeaways-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1.5rem 0;
}

.takeaways-cards .card {
  flex-direction: row;
  text-align: left;
}

.takeaways-cards .card i {
  margin-right: 1rem;
}

/* Details */
.details .details-flex {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

.details img {
>>>>>>> af4e431 (follow along tutot website)
  width: 100%;
  max-width: 500px;
}

<<<<<<< HEAD
.download__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  margin-top: 20px;
}

.download__button {
  padding: 1rem 2rem;
}

.download__button i {
  margin-right: 0.6rem;
=======
.details h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.details .heading-border {
  margin: 0;
}

.details p {
  margin: 1rem 0 2rem;
}

/* Author */
.details + .details .details-flex {
  flex-direction: row-reverse;
}

.details ul {
  margin-bottom: 2rem;
}

.details ul li {
  line-height: 2;
}

.details i {
  margin-right: 0.5rem;
}

/* Stats */
.stats {
  background: #000 url("../images/stats-background.jpg") center center/cover
    no-repeat;
  color: #fff;
}

.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}

.stats img {
  width: 100%;
  max-width: 500px;
}

.stats-content {
  max-width: 500px;
}

.stats .stats-numbers {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stats .stats-numbers h3 {
  font-size: 3rem;
  font-weight: 700;
}

.stats .stats-numbers p {
  font-size: 0.8rem;
}

.stats .stats-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.stats .btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

/* Newsletter */
.newsletter {
  text-align: center;
  margin: 0 2rem;
}

.newsletter-flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
  border: 1px solid #eee;
  padding: 4rem 2rem;
}

.newsletter h2 {
  font-size: 2rem;
  font-weight: 700;
}

.newsletter p {
  max-width: 600px;
}

.newsletter input[type="email"] {
  padding: 1rem 2rem;
  border: 1px solid #ccc;
  border-radius: 32px;
  width: 100%;
  max-width: 400px;
  margin: 1rem 0;
}

/* Social */
.social {
  background: var(--dark-color);
  color: #fff;
  padding: 6rem 2rem;
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 0;
}

.social a,
.footer a {
  color: #fff;
}

.social a:hover,
.footer a:hover {
  color: var(--secondary-color);
}

.social p {
  margin-bottom: 2rem;
}

.social .social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
>>>>>>> af4e431 (follow along tutot website)
}

/* Footer */
.footer {
<<<<<<< HEAD
  background-color: var(--tertiary-color);
  color: #9f9caf;
  padding: 4rem 2rem;
  font-size: 1rem;
}

.footer__links-link,
.footer__social-link {
  color: #9f9caf;
}

.footer__links-link:hover,
.footer__social-link:hover {
  color: #fff;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.footer__title {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.footer__social {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
=======
  background: var(--dark-color);
  color: #fff;
  border-top: 1px solid #384653;
  padding: 0.5rem 2rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
>>>>>>> af4e431 (follow along tutot website)
}

/* Inner Header */
.inner-header {
<<<<<<< HEAD
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 10rem 2rem 6rem;
}

/* Pricing */
.pricing {
  background-color: var(--tertiary-color);
  padding: 4rem 2rem 6rem;
}

.pricing__title {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.pricing__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 2.1rem;
}

.pricing__card-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 2.5rem;
  border-radius: 32px;
  margin-bottom: 2.2rem;
}

.pricing__card-title {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.pricing__card-price {
  font-size: 2.8rem;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 1.1rem;
}

.pricing__card-list {
  text-align: left;
  line-height: 2.5rem;
  font-weight: 400;
}

.pricing__card-item i {
  color: var(--primary-color);
  margin-right: 0.6rem;
}

/* Pricing Notes */
.pricing-notes {
  padding: 3.2rem 2.1rem;
  color: #9f9caf;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

/* Details Features */
.details-features {
  background-color: var(--tertiary-color);
  padding: 4rem 2rem;
}

.details-features__title {
  font-size: 2.3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.details-features__list-item {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 3.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 1.5rem;
}

.details-features__list-item i {
  color: var(--primary-color);
}

.details-features__list-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

/* Media Queries */
@media (max-width: 992px) {
  /* Hero */
  .hero {
    padding: 10rem;
    text-align: center;
  }

  .hero__container {
    flex-direction: column;
  }

  .hero__title {
    font-size: 2.3rem;
  }

  .hero__buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .hero__button {
    width: 100%;
  }

  .hero__image img {
    max-width: 350px;
  }

  /* Testimonials */
  .testimonials__container {
    grid-template-columns: 1fr;
  }

  .testimonials__card {
    padding: 0 1.5rem;
  }

  /* Features */
  .features__grid {
    grid-template-columns: 1fr;
  }

  .features__grid-column-left,
  .features__grid-column-right {
    order: 2;
    margin-bottom: 2rem;
  }

  .features__grid-column-center {
    order: 1;
    margin-bottom: 3rem;
  }

  .features__grid-item,
  .features__grid-column-right .features__grid-item {
    text-align: center;
    flex-direction: column-reverse;
    max-width: 400px;
  }

  .features__grid-item-icon {
    margin: 0 auto;
  }

  .features__grid-column-center img {
    max-width: 300px;
  }

  /* Details */
  .details__grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .details__grid-image img {
    width: 100%;
    max-width: 400px;
  }

  .details__grid-content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .details__icons {
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
  }

  /* Download */
  .download {
    padding-top: 10rem;
    text-align: center;
  }

  .download__container {
    flex-direction: column-reverse;
  }

  .download__buttons {
    flex-direction: column;
  }

  .download__button {
    width: 100%;
    padding: 0.6rem;
  }

  /* Footer */
  .footer {
    font-size: 1rem;
  }

  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 3rem;
    max-width: 600px;
  }

  /* Pricing */
  .pricing__cards {
    flex-direction: column;
  }

  .pricing__card {
    margin-top: 1.2rem;
    margin-bottom: 2.1rem;
=======
  background: var(--primary-color);
  color: #fff;
  height: 250px;
  padding-top: 8rem;
}

.inner-header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Contact Form */
.contact-form p {
  margin-bottom: 3rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  font-family: inherit;
  font-size: medium;
  width: 100%;
  margin: 1.5rem 0;
  border: 1px solid #ccc;
  padding: 1.2rem 1rem;
}

.contact-form textarea {
  height: 200px;
}

.contact-form .btn {
  display: block;
  width: 100%;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  margin: 0 auto;
}

/* Location */
.location h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.location p {
  margin-bottom: 2rem;
}

.location .map {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 50%;
  border-radius: 0.25rem;
}

.location .map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Media Queries */
@media (max-width: 1200px) {
  .hero .hero-flex {
    gap: 2rem;
  }

  .hero img {
    max-width: 500px;
    margin-right: 0;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .hero {
    text-align: center;
  }

  .hero .hero-flex {
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .hero img {
    max-width: 600px;
    margin-top: 2rem;
  }

  .topics {
    grid-template-columns: repeat(2, 1fr);
  }

  .chapter-cards,
  .takeaways-cards {
    grid-template-columns: 1fr;
  }

  .details-flex,
  .details + .details .details-flex,
  .stats .stats-flex {
    flex-direction: column;
    gap: 2rem;
>>>>>>> af4e431 (follow along tutot website)
  }
}

@media (max-width: 768px) {
<<<<<<< HEAD
  /* Navbar */
  .navbar__menu {
    display: none;
  }

  .navbar__mobile-menu {
    display: block;
  }

  /* Testimonials */
  .testimonials__container {
    grid-template-columns: 1fr;
  }

  /* Video Modal */
  .modal__content {
    margin: 40% auto;
    padding: 10px;
    width: 90%;
  }

  .modal__content iframe {
    width: 100%;
  }

  /* Details Features */
  .details-features__list-item {
=======
  .main-menu-items,
  .info-left {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }

  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }

  .info-container {
    flex-direction: column;
  }

  .info-content {
    padding: 2rem;
  }

  .info-content h2 {
    font-size: 1.5rem;
  }

  .info-content p {
    font-size: 1rem;
  }

  .social .social-icons {
    flex-wrap: wrap;
  }

  .social p {
    font-size: 1.2rem;
  }

  .social i {
    font-size: 2rem;
  }

  .footer {
    padding: 0.5rem 1rem;
  }

  .footer-flex {
>>>>>>> af4e431 (follow along tutot website)
    flex-direction: column;
    text-align: center;
  }
}
<<<<<<< HEAD
=======

@media (max-width: 576px) {
  .hero {
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero img {
    max-width: 350px;
  }

  .topics {
    grid-template-columns: 1fr;
  }

  .summary .container {
    padding: 0;
  }

  .stats .stats-numbers {
    flex-direction: column;
  }

  .newsletter h2 {
    font-size: 1.5rem;
  }

  .newsletter p {
    display: none;
  }
}
>>>>>>> af4e431 (follow along tutot website)
